<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="/img/logoICO.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Restaurant Information</title>
    </head>
    <body>
        <h1>Restaurant Information</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>ADDRESS</th>
                    <th>OPENING TIME</th>
                    <th>CLOSING TIME</th>
                    <th>FOOD TYPE</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i <rows.length; i++) { %>
                    <tr>
                        <td>
                            <%= rows[i].IDRESTAURANT%>
                        </td>
                        <td>
                            <%= rows[i].NAMERESTAURANT%>
                        </td>
                        <td>
                            <%= rows[i].ADDRESSRESTAURANT%>
                        </td>
                        <td>
                            <%= rows[i].OPENINGTIMERESTAURANT%>
                        </td>
                        <td>
                            <%= rows[i].CLOSINGTIMERESTAURANT%>
                        </td>
                        <td>
                            <%= rows[i].CONSUMPTIONTYPERESTAURANT%>
                        </td>
                        <td>
                            <a href="/deleteRestaurant/<%=rows[i].IDRESTAURANT%>" class="btn btn-danger">Delete</a>
                            <a href="/edit/"<%=rows[i].IDRESTAURANT%> class="btn btn-danger">Edit</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="text-uppercase text-center">
            <a href="administratorGUI.html" class="btn btn-secondary btn-lg active" role="button">Regresar al Menú principal</a>
            
        </div>

    </body>
</html>
